.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--nav-body-color);
  z-index: 1;
  height: 75px;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 12rem;
}
.container .nav-left {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #666;
  position: relative;
  left: 0;
  transition: all 0.2s;
}
.sidebar-up {
  text-align: center;
  margin-top: 1rem;
}
.sidebar-up p {
  width: 75%;
  margin: auto;
  font-style: italic;
  color: #666;
}
.logo {
  width: 100px;
  cursor: pointer;
}
.logo:hover {
  filter: drop-shadow(5px 5px 4px #c8ebd1);
}

.navbar .container .nav-right {
  display: flex;
  align-items: center;
}
.navbar .container .nav-right li {
  padding-left: 2rem;
}
.nav-right a {
  color: #fdfcf4;
}
.nav-right a:hover {
  color: #fce4e1;
}
.nav-right a.active {
  color: #b22222;
}
.sidebar {
  background-color: var(--nav-body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 180px;
  transition: all 0.2s;
}
.sidebar-content {
  margin: 3rem 1rem;
  color: #333333;
}
.sidebar-content li {
  margin-top: 1rem;
  transition: all 0.2s;
}
.sidebar-content li a {
  color: #333333;
  font-style: italic;
  font-size: 16px;
}
.sidebar-content li a:hover {
  color: #000;
}
.sidebar-content li i {
  padding-right: 10px;
  font-size: 18px;
}
.section {
  position: relative;
  margin-top: 7%;
  display: flex;
}
.section-content {
  position: absolute;
  left: 180px;
  transition: all 0.2s;
}
.container.collapse .sidebar {
  width: 80px;
}
.container.collapse .section-content {
  left: 80px;
}
.container.collapse .logo {
  width: 60px;
}
.container.collapse .container .nav-left {
  left: -100px;
}
.container.collapse .sidebar-content li span {
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
}
.container.collapse .sidebar-content li {
  text-align: center;
}
.container.collapse .sidebar-content li:hover {
  transform: scale(1.3);
}
.container.collapse .sidebar-content li i {
  font-size: 22px;
}

.container.collapse .sidebar-up p {
  width: 0;
  overflow: hidden;
  height: 10px;
}
